body {
	background-image: url(../images/Space-Backgrounds4.jpg);
}

h1 {
	text-align: center;
	font-size: 30pt;
	color: gold;
	background-color: black;
	padding: 20pt;
}

button {
	background-color: black;
	color: gold;
}
.jumbotron {
	background-color: black;
	color: gold;
}